@charset "utf-8";

/* Div Styles */

div.row2 > h2 {
    color: aqua;
    font-size: 42px;
}

div.row3 > h2 {
    color: lightskyblue;
    font-size: 42px;
}

/* List Styles */

ul.navbar {
    list-style-type: none;
    color: white;
}

ul.skills li:first-of-type {list-style-image: url(math.png);}

ul.skills li:nth-of-type(2) {list-style-image: url(computer.png);}

ul.skills li:nth-of-type(3) {list-style-image: url(piano.png);}

ul.skills li:last-of-type {list-style-image: url(code.png);}